fastapi==0.120.2
hf-xet==1.2.0
langchain==1.0.3
langchain-community==0.4.1
langchain-core==1.0.2
langchain-openai==1.0.2
langgraph==1.0.2
load-dotenv==0.1.0
neo4j==6.0.2
numpy==2.2.6
openai==2.6.1
pandas==2.3.3
psycopg2==2.9.11
py2neo==2021.2.4
pymupdf==1.26.5
python-multipart==0.0.20
qdrant-client==1.15.1
sentence-transformers==5.1.2
sqlalchemy==2.0.44
uvicorn==0.38.0
